{%extends 'cart/base.html'%}

{{%block main_block%}


{%if messages%}

    {%for m in messages%}

    <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
      <strong>{{m}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

  {%endfor%}

{%endif%}



<div class="container-fluid">
    <a href="{%url 'index'%}" class=" my-3 text-decoration-none"> <i class="fa-solid fa-arrow-left"></i> Back</a></div>
<div class="container">
    <div class="row">
        {%for w in works%}
        <div class="col-4 mt-3 ">
            <form action="" class="">
                <div class="card p-2" style="width: auto;">
                    <div class=" w-50  mx-auto " >

                        <img src={{w.image.url}} alt=""  class="w-100 h-10" height="180px " width="180px">
    
                    </div>
                    <div class="card-body">
                      <h5 class="card-title text-capitalize">{{w.brand}}</h5>
                      <p class="card-title text-capitalize">{{w.title}}</p>
                      <p class="card-text"><strong>{{w.price}}₹</strong></p>
                      <p class="card-text text-capitalize">{{w.description}}</p>

                      <a href="{%url 'product_remove' w.id%}" class="btn btn-outline-danger">Remove</a>
                      
                      

                    </div>
                  </div>
            </form>
        </div>

        {%endfor%}
    </div>
</div>

{%endblock%}