{%extends 'cart/base.html'%}

{%block main_block%}

<div class="container-fluid">
  <div class="row">
      <a href="{%url 'index'%}" class="text-decoration-none"> <i class="fa-solid fa-arrow-left"></i> Back</a>
</div>
<div class="container">
  <div class="row">
    {%for o in orders%}


    <div class="card mb-3 p-3" style="max-width: 90%;">
      {%for p in o.product_objects.all%}
      <div class="row g-0">
        <div class="col-md-2">
          <img src="{{p.image.url}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{p.title}}</h5>
            <p class="card-text"><strong>{{p.price}} Rs </strong></p>
            <p class="card-text"></p>
            
            <p class="card-text "><small class="text-body-dark">Order id :  {{o.order_id}}</small></p>

        <p class="card-text "><small class="text-body-dark">Delivery status : shipped </small></p>

        <p class="card-text"><small class="text-body-dark">Ordered Date :  {{o.create_date}}</small></p>
        <p class="card-text"><small class="text-body-dark ">Payment Status : 
          {%if o.is_paid%}
          Payment Completed
          {%else%}
          Payment Incomplete
          {%endif%}
        </small></p> 
        <a href="{%url 'add_review' p.id%}"  class="text-decoration-none">Add review</a>
          </div>
        </div>
      </div>

      
        
      





      {%endfor%}
          
    
    </div>
    {%endfor%}
    
  </div>
</div>



{%endblock%}











  
  