{%extends 'cart/base.html'%}

{%block main_block%}



<div class="container">
    <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col-8">
            
            <div class="card mb-3 p-5" style="max-width: 100;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{work.image.url}}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title text-capitalize">{{work.brand}}</h5>
                      <h2 class="card-title text-capitalize">{{work.title}}</h2>
                      <p class="card-text text-capitalize">{{work.description}}</p>
                      <h3 class="card-title text-capitalize">{{work.price}}<strong>₹</strong></h3>
                      <a href="{%url 'select_address'%}" class="btn btn-success">Buy Now</a>
                      <a href="{%url 'add_to_wishlist' work.id%}" class="btn btn-primary" >Add To Cart</a> <br> <br>
                      <p>
                        <a  class="text-decoration-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                         About Seller
                        </a>
                      </p>
                      <div style="min-height: 120px;">
                      
                        <div class="collapse collapse-horizontal" id="collapseWidthExample">
                       

                          <div class="card card-body" style="width: 300px;">
                            Name : {{products.owner}} <br>
                            Contact :<br>
                            
                          </div>
                        </div>
                      </div>
                      
                      
                      <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
                    </div>
                  </div>
                </div>
              </div>
              
        </div>
        <div class="col-2"></div>
    </div>
</div>




{%endblock%}