{%extends 'cart/base.html'%}

{%block main_block%}

<div class="container">
    <div class="row">
        <div class="col-3">
            <a href="{%url 'index'%}" class=" mt-3 btn btn-outline-dark"> <i class="fa-solid fa-arrow-left"></i> back</a>

        </div>
        <div class="col-6 border border-2 shadow mt-4">
            <h3 class="text-center my-4 ">POST YOUR AD</h3>

            <form action="" method="post" enctype="multipart/form-data" class="  p-4">
                {%csrf_token%}
                <!-- {{form}} -->
                <div class="row">
                    <div class="col-6">Brand :  {{form.brand}}</div>
                    <div class="col-6">Title : {{form.title}}</div>
                </div>
                <div class="row">
                    <div class="col-12">Description : {{form.description}}</div>
                    
                </div>

                <div class="row">
                    <div class="col-6">Price : {{form.price}}</div>
                    <div class="col-6">Image : {{form.image}}</div>
                </div>
                <div class="row">
                    <div class="col-12">Category : {{form.category}}</div>
                </div>
                <button type="submit" class="btn btn-outline-primary  mt-2">Confirm</button>
            </form>
            
        </div>
        <div class="col-3"></div>
    </div>
</div>

{%endblock%}