{%extends 'cart/base.html'%}

{%block main_block%}

<div class="container">
    {%for wi in cart_items%}

    

    <div class="row">
        <div class="card mb-3" style="max-width: 80;">
            <div class="row g-0">
              <div class="col-md-2 w-20">
                <img src="{{wi.image.url}}" class="img-fluid rounded-start" alt="..." class="col-md-2 w-20">
              </div>
              <div class="col-md-8">
                <div class="card-body mx-5">
                    <h5 class="card-title text-capitalize">{{wi.product_object.brand}}</h5>
                    <p class="card-title text-capitalize">{{wi.product_object.title}}</p>
                    <p class="card-text text-capitalize"><strong>{{wi.product_object.price}}₹</strong></p>
                    <p class="card-text text-capitalize">Seller : {{wi.product_object.owner}}</p>

                    <a href="{%url 'cartitem_delete' wi.product_object.id%}" class="btn btn-outline-danger">Remove</a>
                    <a href="{%url 'product_detail' wi.product_object.id%}" class="btn btn-outline-primary mx-3">View</a>
                </div>
              </div>
            </div>
          </div>
    </div>
    
    {%endfor%}

    <div class=" my-3">
        <strong class="" >Total :₹{{total}}</strong><br>
        <a href="{%url 'select_address'%}" class="btn btn-outline-primary mt-2">Checkout</a>
    </div>
    
</div>



{%endblock%}